<div class="mt-5">
  <table class="table table-hover">
    <thread class="thead-light">
      <tr>
        <td><%= t ".schedule_name" %></td>
        <td><%= t ".start_date" %></td>
        <td><%= t ".end_date" %></td>
        <td></td>
      </tr>
    </thread>
    <tbody>
      <%= render @tour_schedules %>
    </tbody>
  </table>
</div>
