@import "colors.scss";

.btn-primary2 {
  background-color: $green;
  color: white;
}

#login-page {
  padding-left: 30%;

  h1 {
    padding-left: 20%;
    margin-top: 20px;
  }

  .btn {
    margin-top: 15px;
    margin-left: 40%;
  }
}
